## Observations and Insights

In [1]:
%matplotlib widget

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
pd.options.mode.chained_assignment = None 

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
study_results = pd.read_csv(study_results_path)
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Combine the data into a single dataset
combo_d = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the data table for preview
combo_d

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Checking the number of mice.
num_mice = len(combo_d["Mouse ID"].unique())
num_mice_df = pd.DataFrame({"Total Number of Mice":[num_mice]})
num_mice_df

   Total Number of Mice
0                   249

In [6]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
grpd_combod = combo_d.groupby(['Mouse ID', 'Timepoint'])
grpd_combod.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [7]:
# Optional: Get all the data for the duplicate mouse ID. 
# Removing duplicates
duplicate_ids = combo_d.loc[combo_d.duplicated(subset=['Mouse ID', 'Timepoint']), 'Mouse ID'].unique()
duplicates = combo_d.loc[combo_d['Mouse ID'] == "g989"]
clnr_combo_d = combo_d[combo_d["Mouse ID"].isin(duplicate_ids) == False]
clnr_combo_d

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [8]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
#cln_combod = clnr_combo_d.drop_duplicates(subset=['Mouse ID'], keep='last', ignore_index=True)
clnr_combo_d = combo_d[combo_d["Mouse ID"].isin(duplicate_ids) == False]
clnr_combo_d

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [9]:
# Checking the number of mice in the clean DataFrame.
num_cmice = len(clnr_combo_d["Mouse ID"].unique())
num_cmice

248

## Summary Statistics

In [10]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.
drug_reg = clnr_combo_d["Drug Regimen"].unique()
drug_reg

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [11]:
ramicane = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Ramicane", :]
rami_mean = ramicane["Tumor Volume (mm3)"].mean()
rami_median = ramicane["Tumor Volume (mm3)"].median()
rami_var = ramicane["Tumor Volume (mm3)"].var()
rami_std = ramicane["Tumor Volume (mm3)"].std()
rami_sem = ramicane["Tumor Volume (mm3)"].sem()

capomulin = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Capomulin", :]
capo_mean = capomulin["Tumor Volume (mm3)"].mean()
capo_median = capomulin["Tumor Volume (mm3)"].median()
capo_var = capomulin["Tumor Volume (mm3)"].var()
capo_std = capomulin["Tumor Volume (mm3)"].std()
capo_sem = capomulin["Tumor Volume (mm3)"].sem()

infubinol = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Infubinol", :]
infu_mean = infubinol["Tumor Volume (mm3)"].mean()
infu_median = infubinol["Tumor Volume (mm3)"].median()
infu_var = infubinol["Tumor Volume (mm3)"].var()
infu_std = infubinol["Tumor Volume (mm3)"].std()
infu_sem = infubinol["Tumor Volume (mm3)"].sem()

placebo = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Placebo", :]
place_mean = placebo["Tumor Volume (mm3)"].mean()
place_median = placebo["Tumor Volume (mm3)"].median()
place_var = placebo["Tumor Volume (mm3)"].var()
place_std = placebo["Tumor Volume (mm3)"].std()
place_sem = placebo["Tumor Volume (mm3)"].sem()

ceftamin = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Ceftamin", :]
ceft_mean = ceftamin["Tumor Volume (mm3)"].mean()
ceft_median = ceftamin["Tumor Volume (mm3)"].median()
ceft_var = ceftamin["Tumor Volume (mm3)"].var()
ceft_std = ceftamin["Tumor Volume (mm3)"].std()
ceft_sem = ceftamin["Tumor Volume (mm3)"].sem()

stelasyn = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Stelasyn", :]
stela_mean = stelasyn["Tumor Volume (mm3)"].mean()
stela_median = stelasyn["Tumor Volume (mm3)"].median()
stela_var = stelasyn["Tumor Volume (mm3)"].var()
stela_std = stelasyn["Tumor Volume (mm3)"].std()
stela_sem = stelasyn["Tumor Volume (mm3)"].sem()

zoniferol = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Zoniferol", :]
zoni_mean = zoniferol["Tumor Volume (mm3)"].mean()
zoni_median = zoniferol["Tumor Volume (mm3)"].median()
zoni_var = zoniferol["Tumor Volume (mm3)"].var()
zoni_std = zoniferol["Tumor Volume (mm3)"].std()
zoni_sem = zoniferol["Tumor Volume (mm3)"].sem()

ketapril = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Ketapril", :]
keta_mean = ketapril["Tumor Volume (mm3)"].mean()
keta_median = ketapril["Tumor Volume (mm3)"].median()
keta_var = ketapril["Tumor Volume (mm3)"].var()
keta_std = ketapril["Tumor Volume (mm3)"].std()
keta_sem = ketapril["Tumor Volume (mm3)"].sem()

propriva = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Propriva", :]
prop_mean = propriva["Tumor Volume (mm3)"].mean()
prop_median = propriva["Tumor Volume (mm3)"].median()
prop_var = propriva["Tumor Volume (mm3)"].var()
prop_std = propriva["Tumor Volume (mm3)"].std()
prop_sem = propriva["Tumor Volume (mm3)"].sem()

naftisol = clnr_combo_d.loc[clnr_combo_d["Drug Regimen"] == "Naftisol", :]
naft_mean = naftisol["Tumor Volume (mm3)"].mean()
naft_median = naftisol["Tumor Volume (mm3)"].median()
naft_var = naftisol["Tumor Volume (mm3)"].var()
naft_std = naftisol["Tumor Volume (mm3)"].std()
naft_sem = naftisol["Tumor Volume (mm3)"].sem()

summary_stats = pd.DataFrame({"Drug Regimen":['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
        "Average Tumor Volume (mm3)":[rami_mean, capo_mean, infu_mean, place_mean, ceft_mean, stela_mean, zoni_mean, keta_mean, prop_mean, naft_mean],
     "Median Tumor Volume (mm3)": [rami_median, capo_median, infu_median, place_median, ceft_median, stela_median, zoni_median, keta_median, prop_median, naft_median],
    "Variance in Tumor Volume (mm3)": [rami_var, capo_var, infu_var, place_var, ceft_var, stela_var, zoni_var, keta_var, prop_var, naft_var], 
     "Standard Deviation in Tumor Volume (mm3)": [rami_std, capo_std, infu_std, place_std, ceft_std, stela_std, zoni_std, keta_std, prop_std, naft_std],
     "Standard Error in Tumor Volume (mm3)": [rami_sem, capo_sem, infu_sem, place_sem, ceft_sem, stela_sem, zoni_sem, keta_sem, prop_sem, naft_sem]})
summary_stats.set_index('Drug Regimen', inplace=True)
summary_stats = summary_stats.sort_values("Drug Regimen")
summary_stats["Average Tumor Volume (mm3)"] = summary_stats["Average Tumor Volume (mm3)"].map("{:.3f}".format)
summary_stats["Median Tumor Volume (mm3)"] = summary_stats["Median Tumor Volume (mm3)"].map("{:.3f}".format)
summary_stats["Variance in Tumor Volume (mm3)"] = summary_stats["Variance in Tumor Volume (mm3)"].map("{:.3f}".format)
summary_stats["Standard Deviation in Tumor Volume (mm3)"] = summary_stats["Standard Deviation in Tumor Volume (mm3)"].map("{:.3f}".format)
summary_stats["Standard Error in Tumor Volume (mm3)"] = summary_stats["Standard Error in Tumor Volume (mm3)"].map("{:.3f}".format)
summary_stats

,Average Tumor Volume (mm3),Median Tumor Volume (mm3),Variance in Tumor Volume (mm3),Standard Deviation in Tumor Volume (mm3),Standard Error in Tumor Volume (mm3)
Drug Regimen,,,,,
Capomulin,40.676,41.558,24.948,4.995,0.329
Ceftamin,52.591,51.776,39.290,6.268,0.470
Infubinol,52.885,51.821,43.129,6.567,0.492
Ketapril,55.236,53.699,68.554,8.280,0.604
Naftisol,54.332,52.509,66.173,8.135,0.596
Placebo,54.034,52.289,61.168,7.821,0.581
Propriva,52.321,50.446,43.852,6.622,0.544
Ramicane,40.217,40.673,23.487,4.846,0.321
Stelasyn,54.233,52.432,59.451,7.710,0.573
Zoniferol,53.237,51.818,48.533,6.967,0.516

In [12]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function
combod_mean = clnr_combo_d.groupby("Drug Regimen").mean()["Tumor Volume (mm3)"]
combod_median = clnr_combo_d.groupby("Drug Regimen").median()["Tumor Volume (mm3)"]
combod_var = clnr_combo_d.groupby("Drug Regimen").var()["Tumor Volume (mm3)"]
combod_std = clnr_combo_d.groupby("Drug Regimen").std()["Tumor Volume (mm3)"]
combod_sem = clnr_combo_d.groupby("Drug Regimen").sem()["Tumor Volume (mm3)"]
sum_stats = pd.DataFrame({"Average Tumor Volume (mm3)": combod_mean, "Median Tumor Volume (mm3)": combod_median,
                                        "Variance in Tumor Volume (mm3)": combod_var, 
                                        "Standard Deviation in Tumor Volume (mm3)": combod_std,
                                        "Standard Error in Tumor Volume (mm3)": combod_sem})
sum_stats = sum_stats.sort_index()
sum_stats["Average Tumor Volume (mm3)"] = sum_stats["Average Tumor Volume (mm3)"].map("{:.3f}".format)
sum_stats["Median Tumor Volume (mm3)"] = sum_stats["Median Tumor Volume (mm3)"].map("{:.3f}".format)
sum_stats["Variance in Tumor Volume (mm3)"] = sum_stats["Variance in Tumor Volume (mm3)"].map("{:.3f}".format)
sum_stats["Standard Deviation in Tumor Volume (mm3)"] = sum_stats["Standard Deviation in Tumor Volume (mm3)"].map("{:.3f}".format)
sum_stats["Standard Error in Tumor Volume (mm3)"] = sum_stats["Standard Error in Tumor Volume (mm3)"].map("{:.3f}".format)
sum_stats

,Average Tumor Volume (mm3),Median Tumor Volume (mm3),Variance in Tumor Volume (mm3),Standard Deviation in Tumor Volume (mm3),Standard Error in Tumor Volume (mm3)
Drug Regimen,,,,,
Capomulin,40.676,41.558,24.948,4.995,0.329
Ceftamin,52.591,51.776,39.290,6.268,0.470
Infubinol,52.885,51.821,43.129,6.567,0.492
Ketapril,55.236,53.699,68.554,8.280,0.604
Naftisol,54.332,52.509,66.173,8.135,0.596
Placebo,54.034,52.289,61.168,7.821,0.581
Propriva,52.321,50.446,43.852,6.622,0.544
Ramicane,40.217,40.673,23.487,4.846,0.321
Stelasyn,54.233,52.432,59.451,7.710,0.573
Zoniferol,53.237,51.818,48.533,6.967,0.516

## Bar and Pie Charts

In [13]:
# # Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
mice = clnr_combo_d.groupby('Mouse ID').max()
m45 = mice.loc[mice["Timepoint"] == 45, :]
m45.set_index('Drug Regimen', inplace = True, append = True)
m45.reset_index(level = 0, inplace = True, col_level = 1) 
mcount = m45.groupby('Drug Regimen').count()["Mouse ID"]
mcount

Drug Regimen
Capomulin    21
Ceftamin     13
Infubinol     9
Ketapril     11
Naftisol     13
Placebo      11
Propriva      7
Ramicane     20
Stelasyn     11
Zoniferol    14
Name: Mouse ID, dtype: int64

In [19]:
#mouse_count = cln_combod.groupby("Drug Regimen").count()['Mouse ID']
drug_regimens = ["Capomulin", "Ceftamin", "Infubinol", "Ketapril", "Naftisol", "Placebo", "Propriva", "Ramicane", "Stelasyn", "Zoniferol"]
mcounts = [21,13,9,11,13,11,7,20,11,14]
x_axis = np.arange(len(drug_regimens))
plt.figure(figsize=(8,6.25))
plt.bar(x_axis, mcounts, color="r", align="edge")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, drug_regimens,rotation=45)
plt.title("Total Number of Mice (Alive) for Each Treatment Throughout the Course of the Study")
plt.xlabel("Drug Regimen")
plt.ylabel("Number of live Mice")
plt.xlim(-.75, len(x_axis)+.5)
plt.ylim(0, max(mcounts)+2)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [20]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.
mice = clnr_combo_d.groupby('Mouse ID').max()
m45 = mice.loc[mice["Timepoint"] == 45, :]
m45.set_index('Drug Regimen', inplace = True, append = True)
m45.reset_index(level = 0, inplace = True, col_level = 1) 
mcount = m45.groupby('Drug Regimen').count()["Mouse ID"]
plt.figure(figsize=(8,6.25))
mcount.plot(kind="bar", facecolor="blue")
plt.title("Total Number of Mice (Alive) for Each Treatment Throughout the Course of the Study")
plt.xlabel("Drug Regimen")
plt.ylabel("Number of Mice")
plt.xlim(-.75, len(x_axis))
plt.ylim(0, max(mcounts)+2)
plt.xticks(tick_locations, drug_regimens,rotation=45)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
# Generate a pie plot showing the distribution of female versus male mice using pandas
sex = clnr_combo_d.groupby("Sex").nunique()
sex

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Sex,,,,,,,,
Female,123,10,1,24,14,10,800,5
Male,125,10,1,24,14,10,834,5

In [22]:
sex = ["female", "male"]
s_nums = [123, 125]
colors = ["lightcoral", "lightskyblue"]
explode = (0.05, 0)
plt.figure(figsize=(4,4))
plt.title("Distribution of Female Versus Male Mice")
plt.pie(s_nums, explode=explode, labels=sex, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)
plt.axis("equal")
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [25]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
pysex = clnr_combo_d.Sex.value_counts()
gender_list = pysex.index.values
colors = ["lightskyblue","lightcoral"]
plt.figure(figsize=(4,4))
pysex.plot(kind="pie", y=gender_list, title ="Distribution of Female Versus Male Mice",colors=colors, autopct="%1.1f%%", shadow=True, startangle=140)
plt.axis("equal")
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

In [ ]:
# counts = clnr_combo_d['Drug Regimen'].value_counts()
# counts.plot(kind="bar")
# plt.xlabel("Drug Regimen")
# plt.xticks(rotation=90)
# plt.ylabel("Number of Data Points")
# plt.show()